{% extends "layout.html" %}
{% block content %}
<div class="content-section">
	<h2>Customer: {{ customer }}</h2>
	
        <form method="POST" action="">
            <legend class="border-bottom mt-2 mb-4">Credit cards</legend>
			<select id="myCC" name = "Card" class="form-control form-control-lg mb-2">
				{% for card in cardlist %}
				<option value="{{ card.cardnumber }}">Card: {{ card.cardnumber }} - Zip: {{ card.zipcode }}</option>
				{% endfor %}
			</select>
			{{ form.cardadd(class="btn btn-outline-info mb-3") }}
			{{ form.cardupdate(class="btn btn-outline-info mb-3") }}
			{{ form.carddelete(class="btn btn-outline-danger mb-3") }}
	
	        <legend class="border-bottom mt-2 mb-4">Shipping</legend>
			<select id="mySelect" name = "Address" class="form-control form-control-lg mb-2">
				{% for address in addresslist %}
				<option value="{{ address.address_id }}">{{ address.street }}, {{ address.city }}, {{ address.state }} {{ address.zipcode }}</option>
				{% endfor %}
			</select>
			{{ form.addressadd(class="btn btn-outline-info mb-3") }}
			{{ form.addressupdate(class="btn btn-outline-info mb-3") }}
			{{ form.addressdelete(class="btn btn-outline-danger mb-3") }}
        </form>
    </div>
{% endblock content %}