{% extends "layout.html" %}

{% block content %}

<form method="POST" action="">
  <h3>Shopping Cart Items</h3>
  <table class="table table-bordered w-100">
  <thead>
  <tr class="table-primary"><th>Name</th><th>Quantity</th><th>Price</th></tr>
  <thead>
  {% for item, price in Cart %}
  
    <tr id="item.product_id">
      <td>{{ item.product_name }}</td>
      <td>{{ item.quantity }}</td>
      <td>${{ price }}</td>
	</tr>
  {% endfor %}
  </table>
  <h4>Total Price: $ {{ total }}</h4>
  
  <hr>
  <h3>Select Shipping Address</h3>
  <form id="form1" method="POST">
    <select id="mySelect" name = "Address" class="form-control form-control-lg my-3">
        {% for address in addresslist %}
        <option value="{{ address.state }}">{{ address.street }}, {{ address.city }}, {{ address.state }} {{ address.zipcode }}</option>
        {% endfor %}
    </select>
    <input type="submit" name="select_address" value="Update Price" class="btn btn-outline-primary">
    <input type="submit" name="submit_button" value="Checkout" class="btn btn-outline-success">  
   </form>
</form>
{% endblock %}