{% extends "layoutstaff.html" %}

{% block content %}

  <h1>Warehouse</h1>
  <form method="POST" action="">
  <table class="table table-bordered w-100">
  <thead>
  <tr class="table-primary"><th>City</th><th>Street</th><th>Zipcode</th> <th>State</th><th>Capacity</th><th>Filled</th><th></th>
  <thead>
  {% for warehouse in warehouseData %}
    <tr id="warehouse.warehouse_id">
      <td><b>{{ warehouse.city }}</b></td>
      <td>{{ warehouse.street }}</td>
      <td>{{ warehouse.zipcode}}</td>
	  <td>{{ warehouse.state}}</td>
	  <td>{{ warehouse.capacity}}</td>
	  <td>{{ warehouse[6]}}</td>
	  <td><a href="addstock?id={{warehouse.warehouse_id}}">Add products</a></td>
	</tr>
  {% endfor %}
  </table></form>
{% endblock %}